- provide(:title, "Sidebar")


.row-fluid
	.box.span12
		.box-header
			%h2
				%i.halflings-icon.signal
				%span.break
				= t('recent_activity')				

		.box-content
			- if @users.present?
				- @users.each do |user| 	
					- works = PaperTrail::Version.where('whodunnit = ? and created_at > ?', user, 1.week.ago).order(created_at: :desc).limit(10)
					%legend= link_to user.name, rhinoart.user_path(locale: :en, id: user)
					= render 'user_activity', works: works
			- else
				= t('no_activity')		



