@import "acme/bootstrap";
@import "acme/bootstrap-responsive";
@import "bootstrap-datepicker";

/* Import Section
=================================================================== */
@import "acme/jquery-ui-1.8.21.custom";								/* jQuery User Interface Framework Styles */
@import "acme/fullcalendar";										/* Calendars Styles */
@import "acme/chosen";												/* Select Boxes Styles */  
@import "acme/uniform.default";										/* Uniform Styles */
@import "acme/jquery.cleditor";										/* Text Editor Styles. */  
@import "acme/jquery.noty";											/* Noty Notifications Style */
@import "acme/noty_theme_default";									/* Noty Notifications Style */
@import "acme/elfinder.min";										/* File Manager Style */
@import "acme/elfinder.theme";										/* File Manager Style */
@import "acme/jquery.iphone.toggle";								/* Styles for iPhone */
@import "acme/uploadify";											/* Uploadify Styles */
@import "acme/jquery.gritter";										/* Growl Like Notifications Styles */
@import "acme/font-awesome";										/* Font Awesome Styles */
@import "acme/font-awesome-ie7";									/* Font Awesome Styles */
@import "acme/glyphicons";											/* Glyphicons Font */
@import "acme/halflings";											/* Glyphicons Halflings Font */


@import "acme/style";

@import "acme/style-responsive";


@mixin gradient() {
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(left, rgba(249, 249, 249, 0.25) 0%, #B9B9B9 50%, rgba(249, 249, 249, 0.25) 100%);

	/* Safari 4+, Chrome 1+ */
	background-image: -webkit-linear-gradient(left, rgba(249, 249, 249, 0.25) 0%, #B9B9B9 50%, rgba(249, 249, 249, 0.25) 100%);

	/* Safari 5.1+, Chrome 10+ */
	background-image: -o-linear-gradient(left, rgba(249, 249, 249, 0.25) 0%, #B9B9B9 50%, rgba(249, 249, 249, 0.25) 100%);

	/* Opera 11.10+ */
	background-image: linear-gradient(left, rgba(249, 249, 249, 0.25) 0%, #B9B9B9 50%, rgba(249, 249, 249, 0.25) 100%);
}

body {background: asset_url('rhinoart/bg-light.png');}
table.tree {
	a.title { color: #000000; font-size: 14px; font-weight: bold; padding: 10px 0 10px 33px; background: asset_url("rhinoart/i_doc.png") no-repeat 0 7px; }
}

/* linear-gradient(to right, rgba(249, 249, 249, 0.25) 0%, #B9B9B9 50%, rgba(249, 249, 249, 0.25) 100%) */

#sidebar-left2{
	background: #ffffff;
	_min-height: 509px;
	margin-left: 0;
	padding-top: 10px;
	filter: none;
	-webkit-border-radius: 0px 5px 5px 5px;
	-moz-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
	border-top: 2px solid #eee;
	position: relative;	
	max-width: 270px;

	.sidebar-nav > ul {
		margin: 0 15px 0 0;

		li {
			/* border-bottom: 1px solid silver; */
			text-align: left;
			margin: 5px 0;
			padding-left: 10px;
			a {
				text-align: left; 
				font-size: 12px;

				&.toogle {
					margin-top: -1px;
					margin-left: -5px;
				}
			}

			.children {
				margin-left: 12px;
			}

			hr { 
				@include gradient();
				height: 1px;
				margin: 9px;
			}

			&.active > span > a {
				color: #000;
				font-weight: bold;					
			}
		}


	}

	.nav {
		margin-bottom: 0;
	}
}


.input-group-btn_ {
	right: 74px;
	position: absolute;	
}

.redactor_editor {
	border: 1px solid silver;
	border-top: 0;	
}

form {
	margin: 0;
}

.form-horizontal {
	.controls {
		margin-left: 125px;
	}
	.control-label {
		width: 115px;
	}	
}

/* Table sort */
table.tablesorter thead tr .header {
  background-image: asset_url('bg-sort.gif');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
  min-width: 100px;
  line-height: 30px;

}

.headerSortUp, .headerSortDown {
  background-color: rgb(251, 245, 229);
}
table.tablesorter thead tr .headerSortUp {
  background-image: asset_url('asc.gif');
}
table.tablesorter thead tr .headerSortDown {
  background-image: asset_url('desc.gif');
}

.btn {
	font-weight: bold;

	&:hover {
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 1px 1px;
		text-shadow: none;
	}
}

.edit-article-item {
	float: right; 
	opacity: 0.3;

	&:hover {
		opacity: 1;		
	}
}

.navbar-inner a {
  text-shadow: none;
}

.nav-sub-item {
	margin-top: 6px;
}

.offset-bottom1 {
  margin-bottom: 20px;
}

.offset-bottom2 {
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}


