// Place all the styles related to the admin/GalleryImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.uploader { width: 349px;
	span.action {
		width: 150px;
		padding: 2px 10px !important;
	}
	span.filename {	width: 155px; }
}

.edit-bt {
	position: absolute;
	bottom: 3px;
	right: 4px;
	background-color: #63D5EB;
	width: 33px;
	height: 16px;
	padding: 2px;
}

.masonry-brick {
	margin-right: 4px;
	margin-bottom: 4px;
}