// Place all the styles related to the admin/Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.galleries, .gallery_images {
	a.delete {
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		margin: -35px 0 0 !important;
		padding: 0 !important;
		left: 150px;	
	}
}