// Place all the styles related to the admin/Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.level_1 {padding-left: 25px !important; }
td.level_2 {padding-left: 50px !important; }
td.level_3 {padding-left: 75px !important; }
td.level_4 {padding-left: 100px !important; }
td.level_5 {padding-left: 125px !important; }
td.level_6 {padding-left: 150px !important; }
td.level_7 {padding-left: 175px !important; }
td.level_8 {padding-left: 200px !important; }
