<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, edit_user_path(user) %>
  <% if has_role?('ROLE_ADMIN') && !current_user?(user) %>
    | <%= link_to "delete", user_path(user), method: :delete, data: { confirm: t("You sure?") } %>
  <% end %>
</li>