<h1>Message from site: <%= Rails.configuration.action_mailer.default_url_options %></h1>

<p>Name: <%= @message.name %></p>
<p>Email: <%= @message.email %></p>

<p>Message: <%= @message.content %></p>
