<% count = breadcrumbs(@page).count %>
<ul class="breadcrumbs">
	<li><a href="/">Главная</a></li>
	<% breadcrumbs(@page).each_with_index do |item, index| %>
		<% if count -1 != index %>
			<li><%= link_to item.name, page_path(item.slug) %></li>
		<% else %>
			<li><%= item.name %></li>
		<% end %>
	<% end %>
</ul>
