- if object.errors.any?
  .alert.alert-error
    %h4.alert-heading
      Found #{pluralize(object.errors.full_messages.count, 'error')}!
    - object.errors.full_messages.each do |msg|
      = msg
      %br/
