%footer
	%p
		%span{ style: "text-align:left;float:left" }
			© 
			- begin
				= link_to Rails.configuration.copyraghts[:name], Rails.configuration.copyraghts[:url], target: "_blank" if Rails.configuration.copyraghts.present?
			- rescue Exception => e
				= link_to 'RhinoArt', 'http://rhinoart.ru', target: "_blank"		
				
			= "2013 - #{Time.now.year}"
