<div id="sidebar-left" class="span1">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
            <% Rhinoart::Menu::MainMenu.items.each do |item| %>
              <% if menu_item_allowed?(item) %>
                  <li class="<%= 'active' if menu_item_active?(item) %>">
                    <%= link_to "<i class=\"#{ item.icon  }\"></i><span class=\"hidden-tablet\"> #{ t(item.label) }</span>".html_safe, menu_item_link(item) %>
                  </li>
              <% end %>
            <% end %>
		</ul>
	</div>
</div>
