<% content_for :sidebar_l2 do %>
<div id="sidebar-left2" class="span2 <%= controller.controller_name %>">
  <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked">
      <% Rhinoart::Gallery.all.each do |g| %>
        <li>
            <%= link_to g.name, gallery_image_path(g) %>             
        </li>
      <% end %>  
    </ul>
  </div>
</div>
<% end %> 